{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static  'GS/css/catalog.css'%}" />
<main>
  <section class="game-list">
    <h2>Featured Games</h2>
    <ul>
      {% for game in games %}
      <li>
        <img
          src="{{ game.image_link }}"
          alt="{{ game.title }}"
          style="
            width: 100%;
            max-width: 250px;
            aspect-ratio: 2 / 3;
            object-fit: cover;
            height: 90%;
          "
        />
        <h1>{{ game.title }}</h1>
        {% comment %}
        <p>Released: {{ game.release_date }}</p>
        <p>Genre: {{ game.genre }}</p>

        <p>
          Platforms: {% if game.platform %} {{ game.platform }} {% else %} No
          platforms available {% endif %}
        </p>
        <p>Meaat: {{ game.description}}</p>
        {% endcomment %}
      </li>
      {% empty %}
      <li>No games found.</li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}
